
:root {
  --blue: #3B84F3;
}

body {
  font-family:'Inter', sans-serif;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 320px repeat(8, 1fr);
}

.side {
  grid-column: 1 / 2;
  background-color: #F4F4F4;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.create-list-btn {
  width: 100px;
}

.create-task-btn {
  width: 250px;
  border-radius: 100px;
  background-color: var(--blue);
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #fff;
  cursor: pointer;
}

ul.nav__links {
  list-style-type: none;
  padding: 0;
}

li.link, li.new-type {
  padding-bottom: 1rem;
}

.create-task-modal,
.create-list-modal {
  display: none;
  padding: 1.5rem;
  width: 500px;
  position: fixed;
  background-color: #fff;
  top: 30%;
  left: 50%;
  margin-left: -250px;
  border: 1px solid #D8D8D8;
  box-shadow: 1px 1px 10px rgb(128, 128, 128, 25%);
}

.modal-title {
  border-bottom: 1px solid #000;
  padding-bottom: 1.15rem;
}

.create-modal__content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 1rem;
}

form#task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form#list-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add {
  margin-top: 1rem;
  display: flex;
  justify-content: right;
}

.main {
  grid-column: 3 / 9;
  margin-top: 2rem;
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.main-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.todo-full {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 1.15rem;
  border: 1.15px solid #DEDEDE;
  border-radius: 4px;
}

.todo-row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
}

.expanded {
  margin-top: 1.15rem;
  border-top: 1.15px solid #DEDEDE;
  padding-top: 1.15rem;
}

.todo-full:hover {
  box-shadow: -2px 2px 8px rgb(150,150,150,25%);
  cursor: pointer;
}

.todo-row__right, 
.todo-row__left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.todo-row__status > * {
  fill: #C4C4C4;
  height: 2rem;
  width: 2rem;
}

.todo-row__low,
.todo-row__medium,
.todo-row__high {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 100px;
  color: #fff;
}

.todo-row__high {
  background-color: #DD3A92;
}

.todo-row__medium {
  background-color: #E8900C;
}

.todo-row__low{
  background-color: #0DB277;
}

.todo-row__status {
  display: flex;
  justify-content: center;
}

.chevron-closed > img,
.chevron-open > img {
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  justify-content: center;
}

.active-link {
  color: #1E64CE;
  font-weight: 700;
}
